@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Share&display=swap');
#content {
    max-width: 1600px;
    margin: 0 auto;
}
header {
    font-family: "EB Garamond", Verdana, serif;
    font-weight: 200;
    background-color: #FF2020;
    color:#A6CAF0;
    display: grid;
    grid-template-columns: 150px auto;
    opacity: 0.8;
}
nav {
    display: flex;
    justify-content: space-around;
}
nav a {
    text-decoration: none;
    color: #fcfbfb;
    text-align: center;
    padding: 35px;
}
a {
    font-family: "EB Garamond", Verdana, serif;
    font-style: italic;
    font-size: 1.3em;
    color: #002040;
    padding: 35px;
    text-decoration: none;
}
nav a:hover {
    background-color: #002040;
    color:#A6CAF0;
}
#logo_link {
    padding: 30px 45px;
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}





footer {
    font-family: "EB Garamond", Verdana, serif;
    font-style: italic;
    font-weight: 400;
    color: #A6CAF0;
    background-color: #002040;
    text-decoration: none;
    padding: 25px 50px;
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer p a {
    font-size: 1.2em;
    color:#A6CAF0;
}
footer p a:hover {
    background-color: #A6CAF0;
    color:#002040;
    text-decoration: underline;
}   
.logo {
    width: 80px;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
/*----------------------------------------------------------------------------*/
@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #fcfbfb;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}