@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Share&display=swap');
#content {
    max-width: 1600px;
    margin: 0 auto;
}
nav a {
    text-decoration: none;
    color: #fcfbfb;
    text-align: center;
    padding: 35px;
}
a {
    font-family: "EB Garamond", Verdana, serif;
    font-style: italic;
    color: #002040;
    padding: 35px;
    text-decoration: none;
}
#hero-msg h1, #hero-msg h4 {
    font-family: "EB Garamond", Verdana, serif;
    font-style: italic;
    color: #002040;
    width: 100%;
    text-align: center;
    margin-top: 10px;
}
.button-box {
    text-align: center;
}
.card-img {
    border: 10px solid #002040;
}
.home-grid {
    font-family: "EB Garamond", Verdana, serif;
    color: #002040;
    text-align: center;
    margin: 200px 0;
    box-sizing: border-box;
}
#background {
    height: 725px;
    background-color: #A6CAF0;
}
body {
    background-color: #A6CAF0;
    margin: 0;
    padding: 0;
}
#logo_link {
    padding: 30px 45px;
}
header {
    font-family: "EB Garamond", Verdana, serif;
    font-weight: 400;
    background-color: #FF2020;
    color:#A6CAF0;
}
nav a:hover {
    background-color: #002040;
    color:#A6CAF0;
}
.book, .join {
    font-family: "EB Garamond", Verdana, serif;
    font-style: italic;
    font-size: 1.2em;
    text-decoration: none;
    background-color: #A6CAF0;
    margin-top: 50px;
    border-radius: 3px;
    padding: 12px 30px;

}
.book:hover, .join:hover {
    background-color: #002040;
    color:#A6CAF0;
    text-decoration: underline;
}
.mountains {
    border: 10px solid #002040;
    }
.msg h2{
    font-family: "EB Garamond", Verdana, serif;
    font-style: italic;
    color: #A6CAF0;
    background-color: #002040;
    text-align: center;
    padding: 35px;
}
.msg {
    font-family: Share, Helvetica, Sans-Serif;
    font-size: 0.8em;
    line-height: 1.5em;
    color: #A6CAF0;
    background-color: #002040;
    text-align: center;
    padding-bottom: 15px;
}
footer {
    font-family: "EB Garamond", Verdana, serif;
    font-style: italic;
    font-weight: 400;
    color: #A6CAF0;
    background-color: #002040;
    text-decoration: none;
    padding: 25px 50px;
    margin-top: 200px;
}
footer p a {
    font-size: 0.9em;
    color:#A6CAF0;
}
footer p a:hover {
    background-color: #A6CAF0;
    color:#002040;
    text-decoration: underline;
}   
.logo {
    width: 80px;
}
.icon {
    width: 80px;
    padding-top: 10px;
}