@import url('https://fonts.googleapis.com/css2?family=Fasthand&family=Roboto&display=swap');
#content{
    max-width: 1600px;
    margin: 0 auto;
    background-color:#F5EFFF;
}
nav {
    background-color: #E5D9F2;
    line-height: 3em;
    text-align: center;
    font-size: 1.1em;
    font-weight: 200;
}
nav  {
    display: flex;
    justify-content: space-around;
}
nav a {
    padding:1em;
    min-width: 120px;
    text-decoration: none;
    padding: 10px;
}
nav a:link, nav a:visited {
    color: #7371FC;
}
nav a:hover {
    color: white;
    background-color: #A594F9;
}
header{
    font-family: Fasthand, Helvetica, sans-serif;
    font-size: 1.5em;
    text-align: center;
    background-color:#E5D9F2;
    display: grid;
    grid-template-columns: 150px auto;
    }
#logo_link {
    padding: 30px 45px;
    padding-top: 5px;
    padding-bottom:0;
    justify-self: center;
    align-self: center;
}
.logo{
    width:120px;
}
.icon{
    width: 80px;
    padding-top: 10px;
}
.social a{
    padding:35px;
    color:#E5D9F2;
}
h1{
    font-family: Fasthand;
    font-size:2.5em;
    text-align: center;
    color:#7371FC;
}
#piano-msg, #boy-msg{
    font-family:Roboto, Helvetica, sans-serif;
    font-size:1.1em;
    color:white;
    background-color:#7371FC;
    justify-content: center;
}
#piano{
    display:grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 150px);
}
#piano-box{
    grid-column:1/7;
    grid-row:1/6;
}
#piano-img{
    width:100%;
    height:100%;
    object-fit: contain;
    justify-items: center;

}
#piano-msg{
    grid-column:3/5;
    grid-row:3/5;
    z-index:1;
    padding:10px;
    border:solid;
    opacity: 0.7;
}
#boy{
    display:grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 150px 150px 150px 75px 150px 150px;   
}
#boy-box{
    grid-column:1/6;
    grid-row:1/7;
}
#boy-img{
    width:100%;
    height:100%;
    object-fit: contain;
    justify-items: left;

}
#boy-msg{
    grid-column:4/7;
    grid-row:2/4;
    z-index:1;
    padding:10px;
    border:solid;
    opacity: 0.7;
}
footer {
    font-family: Fasthand;
    font-size:1.3em;
    color: #7371FC;
    background-color:#E5D9F2;
    text-decoration: none;
    padding: 25px 50px;
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer p a{
    font-size: 1.2em;
    color:#7371FC;
}
footer p a:hover {
    color: white;
    background-color: #7371FC;
    text-decoration: underline;
    padding:35px;

}   
