@import url('https://fonts.googleapis.com/css2?family=Fasthand&family=Roboto&display=swap');
#content{
    max-width: 1600px;
    margin: 0 auto;
}
nav {
    background-color: #E5D9F2;
    line-height: 3em;
    text-align: center;
    font-size: 1.2em;
}
nav  {
    list-style-type: none;
    display: flex;
}
nav a {
    padding:1em;
    min-width: 120px;
    text-decoration: none;
    padding: 10px;
}
nav a:link, nav a:visited {
    color: #7371FC;
}
nav a:hover {
    color: white;
    background-color: #A594F9;
}
header{
    font-family: Roboto, Helvetica, sans-serif;
}
#logo_link {
    padding: 30px 45px;
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}